/bitrix/
/upload/
/vendor/
/old_vendor/
/sites/s1/bitrix
/sites/s1/local
/sites/s1/upload
/sites/s2/bitrix
/sites/s2/local
/sites/s2/upload
/var/*

/cgi-bin/
/webstat/
/xcache/

node_modules/
bower_components/

.vscode/
.gulp/
.idea/
.DS_Store

robots.txt
.env
*.log
*.sql
*.zip
*.tar
*.tar.gz
*.tar.bz2

!.gitkeep
